/**
 * Woocommerce: SCSS variables
 * NOTE: This is part of old code...this should be refactored
 */

// base color scheme
$body-background: #fff;
$color_body: #43454b;
$color_links: #2c2d33;
$color_border: rgba(0, 0, 0, 0.05);
$color_woocommerce: #96588a;
$error: #e2401c;
$success: #0f834d;
$info: #3d9cd2;

// layout sizes
$desktop: 768px;
$handheld: 568px;
$container-width: ms(18);

// susy
$susy: (
  columns: 12,
  gutters: 1,
  math: fluid,
  output: float,
  gutter-position: after,
  use-custom: (
    box-sizing: false,
  ),
);
