.l-dcbl-full {
	@include media('>desktop') {
		width: calc(100vw - 8.1px);
		max-width: none;
		position: relative;
		left: 50%;
		right: 50%;
		margin-left: -50vw;
		margin-right: -50vw;

		.c-image__primary {
			img, .c-image__src {
				width: 100%;
			}
		}

		.c-block__content {
			justify-content: flex-end;
			padding: 0;
		}

		&.order-reverse,
		&.image-left {
			.c-block__content {
				justify-content: flex-start;
			}
		}

		.c-block__inner {
			max-width: calc(var(--content-width) / 2);
			padding: var(--c-block-padding, 30px);
		}
	}
}
