.m-counter {
	--counter-num-size: 3em;
	--counter-num-lh: 1;
	--counter-num-weight: 700;
	--counter-symbol-size: 2em;
	--counter-symbol-weight: 500;
	--counter-title-size: 2.2rem;
	--counter-title-weight: 700;
}
