.site-footer {
    background-color: var(--footer-bg-color);
    border-top: var(--footer-top-border-size) solid var(--footer-top-border);
    color: var(--footer-color);
    padding-bottom: calc(env(safe-area-inset-bottom) + 0px); // fix for iOS devices
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;

    a {
        color: var(--footer-color);

        &:hover {
            text-decoration: underline;
        }

        @include media("<=desktop") {
            text-decoration: underline;
        }
    }

    @include media("<=tablet") {
        text-align: center;
    }

    .social-list {
        gap: var(--footer-link-gap_h, 1vw);
    }

    .logo-img {
        @include media("<desktop") {
            min-height: 25px;
            max-height: 80px;
        }
        height: var(--footer-logo-height);
        width: var(--footer-logo-width);
    }
}

/* Footer Top Row */

.footer-top {
    padding-block: var(--footer-top-padding, 20px);
    font-size: var(--footer-top-font-size);

    &__inner {
        @include media(">tablet") {
            display: flex;
            justify-content: space-between;
        }
    }
}

/* Footer Bottom Row */

.footer-bottom {
    --footer-color: var(--footer-bottom-color);
    color: var(--footer-color);
    padding-block: var(--footer-bottom-padding, 10px);
    font-size: var(--footer-bottom-font-size);
    background-color: var(--footer-bottom-bg-color);
    &__inner {
        @include media(">tablet") {
            display: flex;
            justify-content: space-between;
        }
    }
    li {
        display: inline-block;
        vertical-align: middle;
    }
}

/* Small components */

.footer-nav {
    display: flex;
    flex-direction: var(--footer-top-nav-direction, row);
    gap: var(--footer-link-gap_h);
    @include media("<=desktop") {
        flex-wrap: wrap;
    }
    li {
        margin-bottom: var(--footer-link-gap_v);
    }
    .sub-menu {
        display: none;
    }
}

.footer-title {
    font-weight: var(--footer-title-weight);
    font-size: var(--footer-title-size);
    text-transform: var(--footer-title-transform);
    margin-bottom: .5em;
}

.footer-map {
    iframe, image, picture {
        max-width: 100%;
        @include media("<=desktop") {
            max-height: 250px;
        }
    }
}

.footer-by {
    @include media(">desktop") {
        text-align: right;
    }
}

.copyright {
    text-align: center;
}
