.h2 {
  --h2-font-weight: 400;
  --h2-line-height: .95;
  --h2-text-transform: capitalize;
  line-height: var(--h2-line-height, 1);
  font-weight: var(--h2-font-weight, 600);
  font-family: var(--h2-font);
  text-transform: var(--h2-text-transform);
  letter-spacing: var(--h2-letter-spacing, 0);
  font-size: #{"clamp(var(--h2-font-size-mobile), var(--h-clamp-formula), var(--h2-font-size))"};
  margin-bottom: 15px;
}

.style-dark {
  .c-heading {
    &__title {

    }
  }
}
