.m-testimonials {
	--ttm-color: #fff;
	--ttm-size: 4rem;
	--ttm-weight: 400;
	--ttm-photo-size: 100px;
	--ttm-photo-radius: 20px;
	--ttm-photo-border_size: 2px;
	--ttm-photo-border_color: var(--primary-color1);

	--thumb-size: 65px;
	--thumb-size-large: 85px;
	--thumb-radius: 50%;
	--thumb-bd-size: 4px;
	--thumb-bd-color: #fff;
	--thumb-bd-color-active: var(--primary-color2);

	--bannerHeight: 522px;

	--overlay-opacity: .8;
	--overlay-color: var(--primary-color1)
}
